<% if @article.errors.any? %>
  <h4>The following errors prevented the article from being saved:</h4>
  <% @article.errors.full_messages.each do |msg| %>
    <ul>
      <%= msg %>
    </ul>
  <% end %>
<% end %>